/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.parent-stack{
    background-color: #F5F5F5;
}
.upper-container{
    background-color: #448AFF;
    height: 40%;
}

#app-name{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40;
}

#app-slogan{
    text-align: center;
    color: white;
    font-size: 15;
    padding-top: 12;
}

.textfields-stacks{
    margin: 20% 24 0 24; 
}
.textfields{
    background-color: white;
    color: #5B5B5B;
}

#login-button{
     margin: 10% 24 0 24; 
     background-color: #448AFF;
     text-align: center;
     color: white;
     height: 11%;
     vertical-align: center;
     font-size: 24;
}

#forgot-password{
    text-align: center;
    margin-top: 2%;
}

#facebook-login{
    background-color:#3B579D;
    margin-left: 24;
    color: white;
    width: 43%;
    text-align: center;
    height: 35%;
    vertical-align: center;
    margin-top: 20%;
}

#twitter-login {
    background-color:#33BDFD;
    margin-left: 10 ;
    color: white;
    width: 43%;
    text-align: center;
    height: 35%;
    vertical-align: center;
    margin-top: 20%;
}

.login-using{
  
  margin-top: 15%;
    
}
